<div class="container">
    <div class="row">                                    
        <div class="d-none d-lg-block d-xl-block">                                                                     
            <div class="empty-space-30"></div>
        </div>                                           
    </div>

    <div class="row m-b-90">                                    
        <div class="col-sm-12 col-lg-6 "> 
            <div class="single-image">
                <figure class="figure">
                    <img src="assets/images/cute-baby.jpg" class="figure-img img-fluid" alt="About Me">                                                
                </figure>
            </div>                                           
        </div>                                                                            

        <div class="col-sm-12 col-lg-6 p-x-25 m-t-50"> 
            <div class="heading-block text-left">
                <h1 class="block-size-1 sub-size">
                    Mila Rose Gates
                </h1>
            </div>
            <div class="text-block text-left mb-35">
                <p>
                    I was born in Dallas in 2023.  It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                </p>
            </div>

            <!-- <div class="row">                                    
                <div class="col-sm-4">
                    <ul class="hyphen-text">
                        <li>Photoshop</li>
                        <li>Social Media</li>
                    </ul>
                </div> 
                <div class="col-sm-4">
                    <ul class="hyphen-text">
                        <li>Branding</li>
                        <li>Graphics</li>
                    </ul>
                </div> 
                <div class="col-sm-4">
                    <ul class="hyphen-text">
                        <li>Illustrator</li>
                        <li>SEO</li>
                    </ul>
                </div> 
            </div>    

            <div class="btn-container solid m-t-50">
                <a href="#" role="button" title="GET IN TOUCH">GET IN TOUCH</a>
            </div> -->

        </div>                                                                            
    </div>                                
</div>
   