<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <article class="portfolio right-sidebar clearfix">                                 
                <div class="entry-content">
                    <div class="media-wrap">
                        <div id="portfolio-container-media-1" class="portfolio-media cbp" data-layoutmode="mosaic" data-displaytype="default" data-gaphorizontal="30" data-gapvertical="30" data-large-desktop="2" data-tablet-landscape="2" data-tablet-portrait="2" data-mobile="1">

                            <div class="cbp-item">
                                <a class="cbp-lightbox cbp-caption" data-title="Front View" href="/assets/images/portfolio/single/mug-after-min.jpg">
                                    <div class="cbp-caption-defaultWrap">
                                        <img src="/assets/images/portfolio/single/mug-after-min.jpg" class="portfolio-media-image" alt="Mug 1" >
                                    </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <div class="cbp-l-caption-title">
                                                    <img src="/assets/images/svg/plus.svg" class="lightbox-plus" alt="Lightbox Plus">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            
                            <div class="cbp-item">
                                <a class="cbp-lightbox cbp-caption" data-title="Side View" href="assets/images/portfolio/single/mug-3-min.jpg">
                                    <div class="cbp-caption-defaultWrap">
                                        <img src="assets/images/portfolio/single/mug-3-min.jpg" class="portfolio-media-image" alt="Mug 2">
                                    </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <div class="cbp-l-caption-title">
                                                    <img src="assets/images/svg/plus.svg" class="lightbox-plus" alt="Lightbox Plus">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            
                            <div class="cbp-item">
                                <a class="cbp-lightbox cbp-caption" data-title="Top View" href="/assets/images/portfolio/single/mug-4-min.jpg">
                                    <div class="cbp-caption-defaultWrap">
                                        <img src="/assets/images/portfolio/single/mug-4-min.jpg" class="portfolio-media-image" alt="Mug 3" >
                                    </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <div class="cbp-l-caption-title">
                                                    <img src="/assets/images/svg/plus.svg" class="lightbox-plus" alt="Lightbox Plus">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>                                            

                        </div>

                    </div>                                           
                </div><!-- .entry-content -->     

                <header class="entry-header">	
                    <h2 class="entry-title">Mug Showcase</h2>
                    <div class="description">Mockup</div>
                    <div class="entry-meta">
                        <div class="meta-desc">
                            <p>There are many variations of passages of Lorem Ipsum available, the majority have suffered alteration in form, by injected humour, or randomising words which do look slightly believable.</p>
                        </div>   
                        <div class="meta-entries">
                            <ul>
                                <li><span>Tools</span>Photoshop, Illustrator</li>
                                <li>
                                    <span>Categories</span>
                                    <span class="portfolio-categories">
                                        <a href="#">Illustration</a>
                                    </span>
                                </li> 
                                <li>
                                    <span>Tags</span>
                                    <span class="portfolio-tags">
                                        <a href="#">Creative</a>
                                        <a href="#">Soft</a>
                                    </span>
                                </li>                                                           
                            </ul>
                            <div class="btn-container button outlined">
                                <a href="#" title="Mug Showcase" target="_blank">LAUNCH</a>
                            </div>
                        </div>
                    </div>
                </header><!-- .entry-header -->		
            </article>    
        </div>                                 
    </div>                             
</div>     