<!-- Photo 4 -->
<div class="cbp-item art illustration">
    <a class="cbp-caption cbp-lightbox" href="TODO">
        <div class="cbp-caption-defaultWrap">
            <img src="TODO" class="portfolio-thumbnail" />
        </div>
        <div class="cbp-caption-activeWrap">
            <div class="cbp-l-caption-alignCenter">
                <div class="cbp-l-caption-body">
                    <div class="cbp-l-caption-desc">
                        View Image
                    </div>
                </div>
            </div>
        </div>
    </a>
</div>