.home-h1 {
	position: absolute;
	display: block;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	bottom: -1rem;
	text-align: center;
	font-size: 96px;
	font-weight: 500;
	font-family: 'Dancing Script';
}

.home-h4 {
	position: absolute;
	display: block;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	bottom: -1rem;
	text-align: center;
	font-size: 28px;
}

.home-centered-container {
	display: flex;
	justify-content: center;
}

.home-centered-container .large-block-size {
	font-size: 65px;
	line-height: 65px;
	font-weight: 400;
}

.home-centered-container .medium-block-size {
	font-size: 45px;
	line-height: 65px;
	font-weight: 400;
}

.mila-font-color {
	color: #fe9a9b;
}

@media (max-width: 992px) {
	.home-centered-container .home-h1 {
		font-size: 25px;
	}
}
@media (max-width: 767px) {
	.home-centered-container .home-h1 {
		font-size: 15px;
	}
}

canvas {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	background-color: transparent;
	position: fixed;
	inset: 0;
	pointer-events: none;
}
