.home-h1 {
	position: absolute;
	display: block;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	bottom: -1rem;
	text-align: center;
	font-size: 96px;
	font-weight: 500;
	font-family: 'Dancing Script';
	padding-bottom: 1rem;
}

.home-h4 {
	position: absolute;
	display: block;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	bottom: -1rem;
	text-align: center;
	font-size: 28px;
	line-height: 1.5rem;
}

.home-centered-container {
	display: flex;
	justify-content: center;
}

.mila-font-color {
	/* color: #fe9a9b; */
	color: #c94f50;
}

.heart-size {
	font-size: 20px;
}

.flex-test {
	display: flex;
	flex-direction: row;
}

@media (max-width: 992px) {
	.home-centered-container .home-h1 {
		font-size: 25px;
	}

	.home-centered-container .home-h4 {
		font-size: 15px;
	}

	.flex-test {
		display: flex;
		flex-direction: row;
		column-gap: 20px;
	}

	.heart-size {
		font-size: 10px;
	}
}
@media (max-width: 767px) {
	.home-centered-container .home-h1 {
		font-size: 25px;
	}

	.home-centered-container .home-h4 {
		font-size: 10px;
	}

	.flex-test {
		display: flex;
		flex-direction: row;
		column-gap: 20px;
	}

	.heart-size {
		font-size: 10px;
	}
}

canvas {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	background-color: transparent;
	position: fixed;
	inset: 0;
	pointer-events: none;
}
