/* PAGE LAYOUT : GLOBAL ===================*/
body#layout {
padding: 0 !important;
}
body#layout .section h4 {
margin: 2px auto 8px !important;
text-align: center !important;
text-transform: uppercase;
font-family: monospace;
letter-spacing: 3px;
}
body#layout div.section {
background-color: #fff !important;
border: 1px solid rgba(0,0,0,0.1) !important;
}
body#layout .widget-content {
border: 3px double rgba(0,0,0,0.05) !important;
box-shadow: 0px 0px 0px #fff !important;
box-shadow: rgba(0,0,0,0.12) 0 0 0px 0, rgba(0,0,0,0.24) 0 0px 0px 0 !important;
box-shadow: none !important;
-webkit-user-select: initial;
-moz-user-select: initial;
-ms-user-select: initial;
user-select: initial;
}
/* PAGE LAYOUT : WRAPPER ===================*/
body#layout #wrapper {
background: #f8f8f8;
overflow: hidden;
}
body#layout #wrapper:before {
content: "Theme Options";
display: block;
text-align: center;
padding: 35px 24px;
font-family: monospace;
font-size: 20px;
font-weight: 700;
background: #3f51b5;
color: #fff;
text-transform: uppercase;
letter-spacing: 2px;
}
body#layout #wrapper:after {
content: "Enjoy! Customizing Your Theme";
display: block;
text-align: center;
padding: 30px 0;
font-family: monospace;
font-size: 16px;
font-weight: 700;
background: #fd9f4e;
color: #fff;
text-transform: uppercase;
letter-spacing: 2px;
clear: both;
}
/* PAGE LAYOUT : THEME OPTIONS ===================*/
body#layout #themeoptions {
background: #3f51b5;
color: #fff;
padding: 0 20px 20px;
overflow: hidden;
}
body#layout div#Theme-Options.section {
margin: 0;
border: 0 !important;
overflow: hidden;
background-color: transparent !important;
padding: 0 !important;
}
body#layout div#Theme-Options.section h4 {
display: none !important;
}
body#layout #Theme-Options.section .widget {
width: 242px;
float: left;
margin: 10px 5px 0;
}
/* PAGE LAYOUT : MOBILE HEADER ===================*/
body#layout #mobile-header {
border-top: 1px solid rgba(0,0,0,0.05);
border-bottom: 1px solid rgba(0,0,0,0.05);
position: relative;
overflow: auto;
}
body#layout #mobile-header:before {
content: "Mobile Header";
display: block;
text-align: center;
padding: 30px 0 10px;
font-family: monospace;
font-size: 16px;
font-weight: 700;
color: #191919;
text-transform: uppercase;
letter-spacing: 2px;
}
body#layout #mobile-header .container {
padding: 20px 20px 0;
overflow: hidden;
}
body#layout #mobile-header .m-menu {
width: 48.5%;
float: left;
}
body#layout #mobile-header .m-logo {
width: 44%;
float: right;
}
body#layout #mobile-header div.section{
margin: 0 !important;
}
/* PAGE LAYOUT : DEFAULT HEADER ===================*/
body#layout #header {
position: relative;
padding: 20px;
}
body#layout #header:before {
content: "Default Header";
display: block;
text-align: center;
padding: 10px 0 30px;
font-family: monospace;
font-size: 16px;
font-weight: 700;
color: #191919;
text-transform: uppercase;
letter-spacing: 2px;
}
body#layout #header .container {
padding: 0;
}
body#layout #header div.section#topmenu,
body#layout #header div.section#social-header {
width: 44%;
margin: 0 0 20px;
float: left;
}
body#layout #header div.section#topmenu {
margin-right: 22px;
}
body#layout #header div.section#logo {
margin: 0 0 20px;
}
/* PAGE LAYOUT : MAIN CONTENT ===================*/
body#layout #content {
border-top: 1px solid rgba(0,0,0,0.05);
border-bottom: 1px solid rgba(0,0,0,0.05);
position: relative;
padding: 20px;
overflow: auto;
}
body#layout #content:before {
content: "Main Content";
display: block;
text-align: center;
padding: 10px 0 30px;
font-family: monospace;
font-size: 16px;
font-weight: 700;
color: #191919;
text-transform: uppercase;
letter-spacing: 2px;
}
body#layout div.section#featured-area {
margin-bottom: 13px;
float: none;
}
body#layout div.section#grid-area {
margin-bottom: 13px;
float: left;
width: 44.5%;
}
body#layout div.trending-posts {
margin-bottom: 13px;
float: right;
width: 48%;
}
body#layout #content #main {
width: 60.5%;
float: left;
}
body#layout #content div.section#sidebar1 {
width: 32%;
float: right;
}
body#layout div.section#about-author {
background-color: #9E9E9E !important;
color: #fff;
}
/* PAGE LAYOUT : INSTAGRAM AREA & SOCIAL FOOTER ===================*/
body#layout #instagram-widget {
background-color: #607D8B !important;
color: #fff;
position: relative;
float: left;
width: 42%;
margin: 20px 0 20px 20px;
}
body#layout #social-footer {
background-color: #00BCD4 !important;
color: #fff;
position: relative;
float: right;
width: 42%;
margin: 20px 20px 20px 0;
}